[package]
name = "wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2.108"
image = "0.25.9"
console_error_panic_hook = "0.1.7"
kamadak-exif = "0.6.1"
